.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

ul > li {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
    margin-right: 70px;
}

.link {
    text-decoration: none;
    margin-left: auto;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
    margin-left: 50px;
}