.stamina-card {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.stamina-card > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stamina-Bad {
    color: rgb(159, 28, 28);
}

.stamina-Warning {
    color: rgb(222, 157, 59);
}

.stamina-Normal {
    color: rgb(44, 168, 226);
}

.stamina-Good {
    color: rgb(26, 93, 170);
}

.stamina-Perfect {
    color: rgb(147, 46, 205);
}